<div class="mb-3">
  <legend *ngIf="props.label">{{ props.label }}</legend>
  <p *ngIf="props.description">{{ props.description }}</p>

  <div *ngFor="let field of field.fieldGroup; let i = index; let last = last" class="row align-items-baseline">
    <formly-field class="col" [field]="field"></formly-field>
    <div class="col-1" *ngIf="!props['notRemovable']">
      <button class="btn btn-danger" type="button" (click)="remove(i)">-</button>
    </div>
    <div class="col-1  "  *ngIf="!props['notAddable']">
      <button *ngIf="last" class="btn btn-success" type="button" (click)="add()">+</button>
    </div>

  </div>
  <div style="margin:30px 0;" *ngIf="!props['notAddable'] && !field.fieldGroup || field.fieldGroup?.length === 0">
    <button class="btn btn-primary" *ngIf='props["addText"]' type="button" (click)="add()">{{ props["addText"] }}</button>
  </div>
</div>

