<app-dialog-container1>
  <div dialogTitle>
    Reinitialiser les regles de {{ data.channelName }}
  </div>

  <div dialogContent>
    <p class="dialog-copy">
      Les champs selectionnes seront vides sur la ligne editoriale et sur tous les blocs de grille. Les regles preferees ne seront pas modifiees.
    </p>

    <section class="option-group">
      <h3>Types de regles</h3>
      <mat-checkbox
        *ngFor="let option of typeOptions"
        [checked]="isTypeSelected(option.value)"
        (change)="toggleType(option.value, $event.checked)"
      >
        {{ option.label }}
      </mat-checkbox>
    </section>

    <section class="option-group">
      <h3>Niveaux</h3>
      <mat-checkbox
        *ngFor="let option of levelOptions"
        [checked]="isLevelSelected(option.value)"
        (change)="toggleLevel(option.value, $event.checked)"
      >
        {{ option.label }}
      </mat-checkbox>
    </section>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div dialogActions>
    <button mat-stroked-button mat-dialog-close [disabled]="isSubmitting">Annuler</button>
    <button mat-flat-button color="warn" (click)="save()" [disabled]="!canSubmit">
      <mat-spinner *ngIf="isSubmitting" diameter="18"></mat-spinner>
      <span *ngIf="!isSubmitting">Reinitialiser</span>
    </button>
  </div>
</app-dialog-container1>
