<div class="max-w-2xl">
  <form class="space-y-4 md:space-y-6" [formGroup]="form" (submit)="submit()">
    <button hidden></button>
    <formly-form [form]="form" [fields]="fields"  (submit)="submit()">
    </formly-form>
    <div class="py-2" *ngIf="formLevelErrors.length > 0">
      <ng-container *ngFor="let error of formLevelErrors">
        <mat-error>{{ error | translate }}</mat-error>
      </ng-container>
    </div>

  </form>
  <div style="margin-top: 40px">
    <button mat-raised-button
            (click)="submit()"
            color="primary" >{{ "Changer le mot de passe" | translate }}
    </button>
  </div>
</div>
