.card {
}


.responsive-header {
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 640px) {
  .responsive-header {
    flex-direction: column;
    align-items: flex-start;
  }

  mat-chip {
    margin-top: 8px;
  }
}

