<div class="card p-3 border rounded bg-white flex">
  <div class="flex justify-between items-start responsive-header">
    <div class="flex-1">
      <h3 class="flex items-center card-title text-xl truncate-1-line mb-0">
        <ng-content select="[boxTitle]"></ng-content>
      </h3>
      <span class="card-description truncate-1-line" style="font-size: 10px">
        <ng-content select="[boxSubTitle]"></ng-content>
      </span>
    </div>
    <div class="flex items-center">
      <ng-content select="[boxSide]"></ng-content>
    </div>
  </div>
  <div class="card-content mt-3">
    <ng-content select="[boxContent]"></ng-content>
  </div>
</div>
